@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Playwrite+AU+SA:wght@100..400&display=swap");

.alumniCard {
  flex: 1;
  border-radius: 0.5rem;
  padding: 1.25rem;
  text-align: center;
  color: #ffffff;
  max-width: 20rem;
  min-width: 18rem;
  margin: 0.625rem;
  transition: background-color 0.3s ease, transform 0.3s ease;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  cursor: default;
}

.alumniCard:hover {
  background-color: rgba(30, 30, 30, 0.5);
  transform: scale(1.05);
}
.alumniImage img {
  max-width: 18rem;
  width: 100%;
  object-fit: cover;
  margin-bottom: 0.9375rem;
  max-height: 18rem;
  border-radius: 0.5rem;
}

.alumniName {
  font-size: 1.85rem;
  font-weight: 700;
  color: #6c90c2;
  margin: 0.625rem 0;
  margin-bottom: 0;
}

.alumniYear,
.alumniCompany {
  margin: 0.3125rem 0;
  color: #acb8cb;
}
.alumniPosition {
  font-size: 1.1rem;
  margin-top: 0;
  color: #acb8cb;
}
.alumniCompany {
  font-size: 1.375rem;
  font-weight: bold;
  font-style: normal;
  color: #8aa6d4;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
  transition: color 0.3s ease, transform 0.3s ease;
}

.alumniCompany:hover {
  color: #b0c7e8;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

@media (max-width: 768px) {
  .alumniCard {
    width: 90%;
    padding: 1rem;
  }

  .alumniName {
    font-size: 1.5rem;
  }

  .alumniPosition,
  .alumniYear,
  .alumniCompany {
    font-size: 1rem;
  }

  .alumniIcons a {
    font-size: 1rem;
  }
}
