.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1.25rem;
  /* 20px */
  /* width: 100%; */
  /* background: linear-gradient(0deg, #05060F, #05060F), #FFFFFF; */
  opacity: 20;
  color: #FFF;
  box-sizing: border-box;
  /* Position the footer at the bottom of the page */
  position: relative;
  overflow: auto;
  left: 0;
  bottom: 0;
  text-align: center;
  z-index: 10;
  margin-left: 5px;
  margin-right: 5px;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1312px;
  max-height: fit-content;
  margin: 0 auto;
}

.footer-sections {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;

}

.footer-logo img {
  width: 140px;
  height: auto;
}

.footer-links {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 2rem;
  /* 32px */
}

.footer-links a {
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 1rem;
  /* 16px */
  line-height: 1.5rem;
  /* 24px */
  color: #6C90C2;
  text-decoration: none;
  transition: transform 0.3s ease;
}

.footer-links a:hover {
  /* transform: scale(1.1); */
  transform: scale(1.2);
}

.footer-social {
  display: flex;
  flex-direction: row;
  /* new added  */
  justify-content: end;
  gap: 0.75rem;
  /* 12px */
}

.footer-social a {
  font-size: 1.5rem;
  /* 24px */
  color: #FFF;
  transition: transform 0.3s ease;
}

.footer-social a:hover {
  transform: scale(1.2);
}

.footer-divider {
  width: 100%;
  max-width: 1312px;
  border: 1px solid #FFF;
  margin-bottom: 1rem;
}

.footer-policy {
  padding: 1.25rem;
  /* 20px */
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 1.5rem;
  /* 24px */
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  /* 14px */
  line-height: 1.25rem;
  /* 21px */
  color: #ACB8CB;
}

.footer-policy a {
  text-decoration: underline;
  color: #ACB8CB;
}

.footer p {
  font-size: 0.875rem;
  /* 14px */
  color: #ACB8CB;
}

/* Responsive Design */
@media (max-width: 768px) {
  .footer {
    padding: 1.25rem 0.625rem;
    /* 20px 10px */
  }

  .footer-container {
    flex-direction: column;
    align-items: center;
  }

  .footer-sections {
    flex-direction: column;
    align-items: center;
  }

  /* .footer-links {
    flex-direction: column;
    align-items: center;
  } */

  .footer-links a {
    font-size: 0.85rem;
    /* 14px */
  }

  .footer-social {
    margin-top: 0.625rem;
    /* 10px */
  }

  .footer-policy {
    flex-direction: column;
    align-items: center;
    gap: 0.625rem;
    /* 10px */
  }

  .footer-policy a {
    font-size: 0.75rem;
    /* 12px */
  }
}
@media (min-width: 1870px) {

  .footer {
    margin-top: auto;
    /* Ensure it's at the bottom */
    position: relative;
    padding-top: 15vh;
    bottom: 0;
  }
}
@media(max-width:1550px) and (min-width:1440px){
  .footer{
    margin-top: auto;
    position:relative;
    padding-top: 93px;
  }
}