/* *{
    background-image: url('src/bg_image.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
  } */

.container {
    margin-top: 0;
    padding-top: 1px;
    box-sizing: border-box;
    height: 100vh;
    /* Ensure the container takes full viewport height */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.intro {
    text-align: center;
}

.intro h3 {
    color: #c5cfe0;
    margin: 0;
}

.intro h1 {
    font-size: 6em;
    /* Adjusted for better responsiveness */
    color: #cad5e9;
    margin: 0.5em 0;
    /* Adjust margins for better spacing */
}

.intro h2,
.intro span h2 {
    font-size: 1.5rem;
    /* Adjusted font-size */
    color: #6d94cb;
    margin: 0.5em 0;
    /* Adjust margins for better spacing */
}

.subsection {
    text-align: center;
    margin-top: 2em;
    clear: both;
}

.subsection h3 {
    color: #ACB8CB;
    margin-top: 3rem;
}

.subsection h1 {
    color: #6C90C2;
    font-weight: 700;
    font-size: 2.2rem;
    /* Adjusted for better readability */
    margin: 0.5em 0;
    descent-override: none;
}

@media (min-width: 768px) and (max-width: 1025px) {

    .intro h2,
    .intro span h2 {
        font-size: 1.25em;
        /* Adjusted font-size */
    }

    .subsection h1 {
        font-size: 1.75em;
        /* Adjusted for smaller screens */
    }
}

@media (max-width: 767px) {
    .intro h1 {
        font-size: 4em;
        /* Further reduced for small screens */
    }

    .intro h2,
    .intro span h2 {
        font-size: 1.2em;
        /* Adjusted for small screens */
    }

    .subsection h1 {
        font-size: 1.5em;
        /* Adjusted for smaller screens */
    }
}