@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.NavPage {
  width: 100%;
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
}

.Header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(15, 41, 70, 0.5);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  will-change: backdrop-filter;
  z-index: 1000;
  padding: 0 60px;
}

.logo img {
  width: 6rem;
  height: auto;
}

.Options {
  display: flex;
  align-items: center;
  gap: 3rem;
}

a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 600;
  font-size: 1rem;
  transition: all 0.3s ease-in-out;
  border: 3px solid transparent;
}

.joinButton {
  padding: 0.5rem 1.2rem;
  color: white;
  border: 2px solid #ffffff;
  border-radius: 36px;
  font-weight: 600;
  transition: all 0.2s ease-in-out;
}

.joinButton:hover {
  border-color: #98C8FF;
  box-shadow: inset 0 4px 12px rgba(0, 0, 0, 0.2);
  color: #98C8FF;
}

.hamburger {
  display: none;
  font-size: 2rem;
  cursor: pointer;
  color: #FFFFFF;
  transition: color 0.2s;
}

.menuItem {
  display: flex;
  align-items: center;
  gap: 4px;
}

.menuItem:hover {
  color: #98C8FF;
  border-bottom: 3px solid #98C8FF;
}

.OptionsMobile {
  position: fixed;
  top: -100vh;
  left: 0;
  width: 100vw;
  background-color: rgba(15, 41, 70, 0.5);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 0 2rem 2rem;
  gap: 1.2rem;
  transition: top 0.3s ease-in-out;
  z-index: 999;
}

.OptionsMobile.show {
  top: 72px;
}

.joinButtonDesktop {
  display: block;
}
@media (max-width: 1200px) {
  .Header {
    padding: 0 20px ;
  }
}
@media (max-width: 980px) {
  .Header{
    padding: 0 1rem;
  }
  .Options{
    gap: 2rem;
  }
}
@media (max-width:920px){
  .Options{
    gap: 1.5rem;
  }
}
@media only screen and (max-width: 870px) {
  .Options {
    display: none;
  }

  .joinButtonDesktop {
    display: none;
  }

  .hamburger {
    display: block;
  }

  .Header {
    justify-content: space-between;
  }

}

@media (max-width:768px) {
  a {
    font-size: 1.3rem;
  }
}