.NavPage {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;
  height: 1;
  width: 100%;
}

.logo{
  width: 7rem;
  margin: auto 0.2rem;
  /* margin-bottom: 2rem;
  margin-top: -8rem; */
}

.Header {
  width: 100;
  height: 72px;
  background-color: #c7d4e9;
  padding: 0 1.7rem;
  display: flex;
  justify-content: space-between;
}

.Options {
  position: relative;
  display: flex;
  font-size: 1rem;
  font-weight: bold;
  margin: 0 auto;
  top: 0;
  align-items: center;
  gap: 5rem;
}

a {
  text-decoration: none;
  color: black;
  transition-duration: 300ms;
}

a:hover {
  color: #4572bc;
}

.contact {
  padding: 0.5rem 0.5rem;
  padding-bottom: 2rem;
  width: fit-content;
  color: white;
  background-color: #6C90C2;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  transition: 300ms ease-in-out;
}

/* .contact:hover {
  background-color: #c7d4e9;
  color: black;
  border-radius: 5px;
} */

.hamburger {
  display: none;
  font-size: 1.8rem;
  cursor: pointer;
  padding-right: 1rem;
  margin: 0.9rem 0;
}

.contact:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

@media (min-width:434px) and(max-width: 768px) {
.contact {
  /* padding: auto auto; */
  width: 95%;
  text-align: center;
  margin:1rem auto;
}
}

@media (max-width:550px){
  .Options{
    gap: 2.2rem;
  }
}
@media (max-width:435px) {
  /* .contact{
  padding: auto auto;
    width: 100%;
    text-align: center;
    margin: 1rem auto;
} */
.Options{
  gap:1rem;
}
}

/* Responsive design */
@media only screen and (max-width: 400px) {
  .Header {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    padding: 1rem 0.5rem;
    margin-bottom: 2.2rem;
  }

  .Options {
    flex-direction: column;
    align-items: center;
    font-size: 1rem;
    gap: 0.8rem;
    margin-top: 0.5rem;
  }

  /* .contact {
    padding: auto auto;
    width: 100%;
    text-align: center;
    margin: auto;
  } */
}

/* @media only screen and (max-width: 330px) {
  .Header {
    padding: 0.5rem;
  }

  .Options {
    font-size: 1rem;
  }

  .contact {
    padding: auto auto;
    width: fit-content;
    height: 2rem;
    margin: auto auto;
  }
} */

/* @media only screen and (max-width: 250px) {
  .Header {
    flex-direction: column;
    align-items: center;
  }

  .Options {
    font-size: 0.6rem;
  }

  .contact {
    padding: 0.3rem 0.6rem;
    font-size: 0.8rem;
  }
} */


@media only screen and (max-width: 400px) {
  .hamburger {
    display: block;
  }

  .Options {
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 72px;
    left: -100vw;
    background-color: #c7d4e9;
    width: 100vw;
    /* height: 100vh; */
    justify-content: center;
    gap: 1rem;
    transition: left 0.3s ease-in-out;
  }

  .Options.show {
    left: 0;
  }

  .Header {
    justify-content: space-between;
  }
}

/* @media only screen and (max-width: 330px) {
  .Options {
    gap: 0.8rem;
  }
} */

/* @media only screen and (max-width: 371px) {
  .Header {
    flex-direction: column;
    height: auto;
    padding: 1rem;
  }

  .Options {
    flex-direction: column;
    font-size: 0.6rem;
    gap: 1rem;
  }

  .contact {
    display: block;
    margin: 0.5rem auto;
  }
}

@media only screen and (max-width: 330px) {
  .Header {
    padding: 0.5rem;
  }

  .Options {
    font-size: 0.6rem;
  }

  .contact {
    padding: 4px 10px;
    height: 2rem;
    float: inherit;
  }
} */


/* .contact {
  display: none;
  } */
  /* @media only screen and (max-width: 250px) {

  .Header {
    position: relative;
  }

  .dropdown {
    position: absolute;
    top: 2rem;
    right: 1rem;
    background-color: #c7d4e9;
    padding: 0.5rem;
    border-radius: 5px;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  }

  .dropdown a {
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    color: black;
  }

  .dropdown a:hover {
    background-color: #4572bc;
    color: white;
  }
} */

/* .logo img {
  display: block;
  margin: auto auto;
  position: relative;
  width: 10rem;
  border-radius: 5%;
  top: 2rem;
  left: 50%;
  transform: translate(-50%, -50%);
} */