.contact-page {
  text-align: center;
  padding: 20px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #000;
  color: #090909;
}

.contact-container {
  display: grid;
  /* place-items: center; */
  grid-template-columns: 1fr;
  gap: 10px;
  max-width: 1000px;
  margin: 0 auto;
  background-color: black;
  /* border: 2px solid #61dafb; */
  padding: 20px;
  /* border-radius: calc(20px + 10px); */
}

.left-column {
  background-color: #000;
  border-radius: 10px;
}

.right-column {
  padding: 20px;
  border: 2px solid hsl(215, 53%, 78%);
  border-radius: 10px;
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.contact-h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.contact-h2 {
  font-size: 1.7rem;
  margin-bottom: 1rem;
  color: hsl(215, 53%, 78%);
}

.contact-p {
  margin-bottom: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.form-group input,
.form-group textarea {
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 1em;
}

.form-group input {
  margin-bottom: 10px;
}

.form-group:first-of-type {
  flex-direction: row;
  gap: 10px;
}

.contact-submit-btn {
  background-color: hsl(215, 53%, 78%);
  color: #000;
  border: none;
  padding: 0 1rem;
  border-radius: 0.25rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
  width: fit-content;
}

.contact-submit-btn:hover {
  background-color: #6c90c2;
}

@media (max-width: 1024px) {
  .contact-container {
    grid-template-columns: 1fr;
  }

  .left-column,
  .right-column {
    margin-bottom: 20px;
    width: 75vw;
  }

  .form-group:first-of-type {
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .contact-h1 {
    font-size: 2em;
  }

  .contact-h2 {
    font-size: 1.4rem;
  }

  .form-group input,
  .form-group textarea {
    font-size: 0.9em;
  }

  .contact-submit-btn {
    font-size: 0.9em;
  }
}

@media (max-width: 375px) {
  .contact-container {
    padding: 10px;
  }

  .right-column {
    padding: 15px;
  }

  .contact-h1 {
    font-size: 1.75em;
  }

  .contact-h2 {
    font-size: 1.3rem;
  }

  .contact-p {
    font-size: 0.9em;
  }

  .form-group input,
  .form-group textarea {
    padding: 8px;
    font-size: 0.85em;
  }

  .contact-submit-btn {
    padding: 8px;
    font-size: 0.85em;
  }
}
