.contact {
  text-align: center;
  display: flex;
  background-image: linear-gradient(134deg, rgba(15, 41, 70, 0.9), rgba(0, 0, 0, 0.9), rgba(47, 19, 69, 0.9));
  align-items: center;
  justify-content: center;
  padding-top: 5rem;
  min-height: 100vh;
}

.contact-page {
  display: flex;
  align-items: start;
  justify-content: space-evenly;
  width: 90%;
  height: fit-content;
  position: relative;
}

.contact-info-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  gap: 2rem;
  width: 45%;
}

.contact-info {
  display: flex;
  flex-direction: column;
  background-color: rgba(16, 102, 200, 0.2);
  border: 1px solid #1066C8;
  border-radius: 36px;
  padding: 1.5rem 2rem;
  gap: 1rem;
  transition: all 0.3s ease-in;
}

.contact-info:hover {
  scale: 1.01;
  border: 1px solid #98C8FF;
}

.contact-content {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.info h3 {
  font-weight: 600;
}

.info p {
  color: #acb8cb;
}

.contact-image {
  font-size: 1.5rem;
  background-color: rgba(16, 102, 200, 0.5);
  height: 48px;
  min-width: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  transition: all 0.3s ease-in;
}

.contact-image:hover {
  background-color: rgba(152, 200, 255, 0.5);
}

.contact-social-links {
  display: flex;
  flex-direction: column;
  background-color: rgba(16, 102, 200, 0.2);
  border: 1px solid #1066C8;
  border-radius: 36px;
  padding: 1.5rem 2rem;
  gap: 1rem;
  transition: all 0.3s ease-in;
}

.contact-social-links:hover {
  scale: 1.01;
  border: 1px solid #98C8FF;
}

.links {
  display: flex;
  gap: 1rem;
}

.links div {
  cursor: pointer;
}

.contact-container {
  display: grid;
  /* place-items: center; */
  background-color: rgba(16, 102, 200, 0.2);
  grid-template-columns: 1fr;
  gap: 10px;
  width: 45%;
  border: 1px solid #1066C8;
  border-radius: 36px;
  transition: all 0.3s ease-in;
}

.contact-container:hover {
  scale: 1.01;
  border: 1px solid #98C8FF;
}

.right-column {
  padding: 20px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.contact-h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.contact-h2 {
  font-size: 1.7rem;
  color: #98C8FF;
  font-weight: 600;
}

.contact-p {
  margin-bottom: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  color: black;
}

.form-group input,
.form-group textarea {
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 1em;
}

.form-group input {
  margin-bottom: 10px;
}

.form-group:first-of-type {
  flex-direction: row;
  gap: 10px;
}

.contact-submit-btn {
  background-image: linear-gradient(90deg, #1066C8, #670C80);
  font-size: 1rem;
  padding: 0.5rem 0.5rem;
  width: 100px;
  border-radius: 24px;
  transition: all 0.3s ease;
}

.contact-submit-btn:hover {
  box-shadow: 0 0 29px 1px #670C80;
}

@media (max-width:1200px) {
  .contact-page {
    width: 100%;
  }
}

@media (max-width: 1024px) {
  .contact-container {
    grid-template-columns: 1fr;
  }

  .contact-info-section {
    width: 40vw;
  }

  .right-column {
    margin-bottom: 20px;
    width: 100%;
  }

  .form-group:first-of-type {
    flex-direction: column;
  }
}

@media (max-width: 768px) {

  .contact-h2 {
    font-size: 1.4rem;
  }

  .form-group input,
  .form-group textarea,
  .contact-content p,
  .contact-content {
    font-size: 0.9em;
  }

  .contact-submit-btn {
    font-size: 0.9em;
  }
}

@media (max-width:600px) {
  .contact-page {
    flex-direction: column-reverse;
    align-items: center;
    gap: 2rem;
    margin: 2rem 0;
  }

  .contact-info-section {
    width: 70%;
  }

  .contact-container {
    width: 70%;
  }
}

@media (max-width: 375px) {
  .contact-container {
    padding: 10px;
  }

  .right-column {
    padding: 15px;
  }

  .contact-h1 {
    font-size: 1.75em;
  }

  .contact-h2 {
    font-size: 1.3rem;
  }

  .contact-p {
    font-size: 0.9em;
  }

  .form-group input,
  .form-group textarea {
    padding: 8px;
    font-size: 0.85em;
  }

  .contact-submit-btn {
    padding: 8px;
    font-size: 0.85em;
  }
}