@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer base {
  @font-face {
    font-family: 'Roboto';
    src: url(/isteWebsite/src/assets/fonts/Roboto/Roboto-Regular.ttf);
  }
} */
/* .main{
    width: 130vw;
 } */
.logo {
    width: 13rem;
    margin: auto;
    margin-bottom: 2rem;
    margin-top: -8rem;
}

html::-webkit-scrollbar {
    width: 0;
}

* {
    box-sizing: border-box;
}

html {
    background-color: black;
}

@keyframes fadeInLeft {
    from {
        transform: translateX(-2%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInRight {
    from {
        transform: translateX(2%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.fadeInLeftAnimation {
    animation: fadeInLeft 0.5s forwards;
}

.fadeInRightAnimation {
    animation: fadeInRight 0.5s forwards;
}

.fadeInAnimation {
    animation: fadeIn 0.55s forwards;
}

.president_eb_ec {
    background-color: black;
    display: flex;
    flex-direction: column;
    flex: 1 0 max-content;
    aspect-ratio: 21/9;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    padding: 2rem 1rem;
    column-gap: 5rem;
    width: clamp(48rem, 100%, 100vw);
    text-align: justify;
    margin: 0;
    /* height: 100vh; */
}

.president_card {
    background-color: black;
    width: 100%;
    color: white;

    display: flex;
    column-gap: 2rem;

    transition-duration: 300ms;
}

.president_card:hover {
    background-color: rgb(55 65 81 / 0.2);
    transform: scale(1.05);
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

@media (max-width:768px) {
    .president_card {
        flex-direction: column;
    }
}

.president_image {
    aspect-ratio: 1;
    width: 100%;
    object-fit: contain;
    max-height: 18rem;
}

.president__cards {
    background-color: black;
    column-gap: 4rem;
    width: 100%;

    display: flex;
    column-gap: 2rem;
}

@media (max-width:768px) {}


@media (max-width:1300px) {
    .president__cards {
        flex-direction: column;
        row-gap: 5rem;
    }
}

@media (min-width: 1024px) {
    .lg\:text-5xl {
        font-size: 3rem
            /* 48px */
        ;
        line-height: 1;
    }
}

@media (min-width: 768px) {
    .md\:text-4xl {
        font-size: 2.25rem
            /* 36px */
        ;
        line-height: 2.5rem
            /* 40px */
        ;
    }
}

@media (min-width: 640px) {
    .sm\:text-3xl {
        font-size: 1.875rem
            /* 30px */
        ;
        line-height: 2.25rem
            /* 36px */
        ;
    }
}

/* flex justify-center bg-black flex-col gap-y-20 items-center  py-28 px-16 mt-[500px] lg:mt-[150px] */